{% extends 'base.html' %}
{% block body %}
<div class="container">
	<p><b>Search Google Play Store </b></p>
	<form action="{% url 'main:search' %}" method="POST" class="form-horizontal">
	{% csrf_token %}
		<div class="form-group">
		    <input type="text" id="input" class="form-control" name="qry" placeholder="Enter Your Query" autocomplete="off" pattern="^[0-9a-zA-Z]+$" required><br>
			<input type="submit" value="SUBMIT" class="btn btn-primary btn-lg">
	    </div>
	</form>
</div>
{% endblock %}